<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="utf-8">
    <title>Anette Saviauk, veebiprogrammeerimine</title>
</head>

<body>
    <img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
    <h1>Anette Saviauk, veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma
        mõistlikku sisu.</p>
    <p>Veebiprogrammeerimine on tore.</p>
    <hr>
    <ul>
        <li><a href="/">Avalehele</a></li>
        </li><a href="/eestifilm">Eesti filmi avaleht</a></li>
    </ul>
    <h2>Eesti filmid</h2>
    <p>Lisa uus film</p>
    <form method="POST">
        <label for="titleInput">Filmi nimi</label>
        <input id="titleInput" type="text" name="titleInput" placeholder="Filmi nimi" required>
        <br>
        <label for="yearInput">Filmi aasta</label>
        <input id="yearInput" type="number" name="yearInput" placeholder="Filmi aasta" required>
        <br>
        <label for="durationInput">Filmi kestus</label>
        <input id="durationInput" type="number" name="durationInput" placeholder="Filmi kestus" required>
        <br>
        <input id="personSubmit" name="personSubmit" type="submit" value="Salvesta">
    </form>
    <P>
        <%= notice %>
    </P>
    <ul>
        <% movieList.forEach(function(listItem) { %>
            <li>
                <%= listItem.title %> (<%= listItem.production_year %>)
            </li>
            <% }); %>
    </ul>
</body>
</ol>
</body>

</html>