<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="utf-8">
    <title>Anette Saviauk, veebiprogrammeerimine</title>
</head>

<body>
    <img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
    <h1>Anette Saviauk, veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma
        mõistlikku sisu.</p>
    <p>Veebiprogrammeerimine on tore.</p>
    <hr>
    <ul>
        <li><a href="/">Avalehele</a></li>
    </ul>
    <h2>Registreeri oma külastus</h2>
    <form method="POST" action="/regvisit">
        <label for="firstNameInput">Eesnimi</label>
        <input id="firstNameInput" type="text" name="firstNameInput" placeholder="Sisesta enda eesnimi..." required>

        <label for="lastNameInput">Perekonnanimi</label>
        <input id="lastNameInput" type="text" name="lastNameInput" placeholder="Sisesta enda perekonnanimi..." required>

        <input id="nameSubmit" name="nameSubmit" type="submit" value="Salvesta">
    </form>
</body>

</html>