<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="utf-8">
    <title>Külastus salvestatud</title>
</head>

<body>
    <h1>Külastus on salvestatud!</h1>
    <p>
        <%= visitor %>
    </p>

    <ul>
    </ul>
</body>

</html>